<h1>ユーザ一覧</h1>
<p>パスワードは暗号化されたものが表示されます。</p>
<p><% @users.each do |user| %></p>
      <hr width="100%">
      <p><h class="userid">
            ユーザーID:
            <%= user["uid"] %></h></p>
      <p class ="userpass"><%= user["pass"] %></p>
<% end %>